nav {
  background: #ffffff;
  padding: 15px 10px;
  text-align: center;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
}

nav a {
  color: #0d6efd;
  margin: 0 12px;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  padding: 8px 14px;
  border-radius: 8px;
  transition: 0.3s;
}

nav a:hover {
  background: #0d6efd;
  color: white;
}
