body {
  font-family: Arial, sans-serif;
  background: #f4f6f8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  direction: rtl;
}

.container {
  background: white;
  padding: 20px;
  width: 350px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

#question {
  font-size: 18px;
  margin-bottom: 15px;
}

button {
  padding: 10px;
  margin-top: 10px;
  width: 100%;
  border: none;
  background: #3498db;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.answer-btn {
  display: block;
  margin: 5px 0;
  background: #ecf0f1;
  color: black;
}
